html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  height: 100%; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.wrapper {
  min-height: 100vh;
  display: grid;
  max-width: 1600px;
  margin: 0;
  grid-template-rows: 1fr;
  grid-template-columns: 150px 1fr;
  justify-content: space-between;
  grid-template-areas: "aside main__content"; }
  @media (max-width: 799px) {
    .wrapper {
      grid-template-columns: 100%;
      grid-template-rows: 70px 1fr;
      grid-template-areas: "aside" "main__content"; } }

body {
  font-family: 'Poppins', 'Arial', sans-serif;
  margin: 0; }

.aside {
  background-color: #282d32;
  flex: 0 0 150px;
  padding: 5px;
  width: 150px;
  text-align: center;
  text-transform: uppercase;
  grid-area: aside; }
  @media (max-width: 799px) {
    .aside {
      align-items: center;
      display: flex;
      flex-basis: auto;
      height: 70px;
      justify-content: space-between;
      padding: 10px 20px;
      position: relative;
      width: auto; } }
  .aside .logo {
    color: #4cb480;
    padding-top: 45px;
    font-family: "Poppins";
    font-size: 32px;
    margin-bottom: 68px;
    position: relative; }
    @media (max-width: 799px) {
      .aside .logo {
        margin-bottom: 0;
        padding-top: 0; } }
    .aside .logo::after {
      background: #4cb480;
      bottom: -14px;
      content: "";
      display: block;
      height: 4px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 25px; }

.nav {
  padding-top: 50px;
  position: relative;
  font-size: 16px;
  text-align: center;
  padding: 41px 0; }
  @media (max-width: 799px) {
    .nav {
      order: 3;
      padding-top: 0;
      position: static; } }
  .nav::before, .nav::after {
    background-color: white;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    opacity: 0.2;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 90px; }
    @media (max-width: 799px) {
      .nav::before, .nav::after {
        display: none; } }
  .nav::after {
    bottom: 18px;
    top: auto; }
  .nav--footer::before, .nav--footer::after {
    display: none; }
  .nav--footer .nav__list {
    display: flex;
    justify-content: space-between;
    width: 45%; }
    .nav--footer .nav__list li {
      padding: 0; }
  .nav__list li {
    padding-bottom: 21px; }
  .nav__list a {
    font-family: 'Poppins';
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 30px;
    letter-spacing: 0.8px; }
  .nav svg {
    display: block;
    fill: #fff; }

.toggle-icon {
  cursor: pointer;
  display: none; }
  @media (max-width: 799px) {
    .toggle-icon {
      display: block; } }

.toggle-button {
  display: none;
  height: 0;
  visibility: hidden;
  width: 0; }

.main__content {
  grid-area: main__content;
  flex-direction: column; }
  .main__content > .content__item-darck,
  .main__content > .content__item, .main__content .footer {
    padding: 4.4em 4.2em 2.8em 4.2em; }
  .main__content .content__item-darck {
    background-color: #353a3f; }

.footer {
  background: #353a3f; }

.content__item-firstPage {
  padding: 10em 14em 9.6em 16em; }
  @media (max-width: 1350px) {
    .content__item-firstPage {
      padding: 10% 7vh; } }
  .content__item-firstPage .subtitle {
    padding: 46px 0 18px 0; }

.title {
  position: relative; }

.title:before {
  background: #4cb480;
  top: -27px;
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  width: 62px; }

.h1__text {
  opacity: 0.5;
  color: #ffffff;
  font-family: "Poppins";
  font-size: 22px;
  line-height: 36px;
  text-align: left;
  padding-bottom: 47px; }

.content__item {
  display: flex;
  justify-content: space-between; }
  .content__item-secondPage {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    background-color: #f6f6f6;
    padding: 6.2em 3.2em 3.5em 3.2em; }
    .content__item-secondPage:not(:first-child), .content__item-secondPage:not(:last-child) {
      margin: 3em 1.5em 5em 2em; }
    .content__item-secondPage:last-child {
      margin-right: 3.4em; }
    .content__item-secondPage:first-child {
      margin-left: 3.4em; }
    .content__item-secondPage--img {
      display: block;
      width: 110px;
      height: 110px;
      background-color: #ffffff;
      border-radius: 50%;
      position: absolute;
      transform: translateY(-140%); }
      .content__item-secondPage--img > svg {
        fill: #4cb480;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        height: 40px;
        width: 40px; }
    .content__item-secondPage--text {
      padding: 0.8em 0 1.7em 0;
      color: #5a5f65;
      font-family: Poppins;
      font-size: 18px;
      line-height: 30px;
      text-align: center; }

.content__item-thirdPage {
  position: relative;
  margin: 8.3em 17em 4em 16em; }
  .content__item-thirdPage--words {
    color: #ffffff;
    font-size: 28px;
    font-style: italic;
    line-height: 38.02px;
    letter-spacing: 0.25px; }
  .content__item-thirdPage--author {
    width: 234px;
    height: 42px;
    color: #8c9198;
    font-family: Poppins;
    font-size: 20px;
    letter-spacing: 0.5px;
    padding: 3.9em 0 3em 0;
    position: relative; }
    .content__item-thirdPage--author::before {
      background: #8c9198;
      top: 54px;
      content: "";
      display: block;
      height: 5px;
      position: absolute;
      width: 60px; }

.content__item--title-blog {
  color: #353a3f;
  font-size: 44px;
  line-height: 31.2px;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  position: relative;
  margin-bottom: 1.8em; }
  .content__item--title-blog::before {
    background: #4cb480;
    top: -35px;
    content: "";
    display: block;
    height: 4px;
    position: absolute;
    width: 62px;
    left: 3px; }

.content__item--blog-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5.2em 2em 0.8em 3.2em; }

.content__item--blog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 2em 3.9em 0; }
  .content__item--blog-img {
    width: 35.5em;
    height: 20.5em;
    border-radius: 6px; }
    .content__item--blog-img:last-child {
      margin-bottom: 0; }
  @media (max-width: 799px) {
    .content__item--blog {
      flex-direction: column; } }
  .content__item--blog-comment {
    margin: 2.2em 0 1.9em 5em; }
    .content__item--blog-comment .button_small {
      width: 176px; }
  .content__item--blog-text {
    color: #5a5f65;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.20px;
    padding: 0.8em 0em 1.5em 0; }

.footer-wrap {
  margin: -2em 3em 6em 3.5em;
  display: grid;
  grid-template-areas: "nav icons" "copywrite icons"; }

.footer-copywrite {
  grid-area: copywrite;
  margin: -1.7em 0 0 0em;
  opacity: 0.3;
  color: #ffffff;
  font-size: 16px;
  line-height: 30px; }

.footer-nav {
  grid-area: nav; }

.social-icon {
  grid-area: icons; }
  .social-icon > ul > li {
    height: 30px;
    width: 30px;
    color: #ffffff;
    opacity: 0.3; }

.button_large {
  background: #4bae7c;
  border: 0;
  border-radius: 30px;
  color: #fff;
  font-size: 20px;
  height: 60px;
  line-height: 60px;
  width: 200px;
  text-transform: uppercase;
  text-align: center; }

.button_small {
  background: #4bae7c;
  border: 0;
  border-radius: 28px;
  color: #fff;
  font-size: 18px;
  height: 55px;
  line-height: 55px;
  width: 160px;
  text-transform: uppercase;
  text-align: center; }

h1 {
  color: #ffffff;
  font-family: 'Poppins';
  letter-spacing: 0.05em;
  font-size: 62px;
  line-height: 1.0;
  text-align: left;
  text-transform: uppercase; }

h2 {
  color: #ffffff;
  font-family: 'Poppins';
  letter-spacing: 0.05em;
  font-size: 30px;
  line-height: 31.2px;
  text-align: left;
  text-transform: uppercase; }

h3 {
  color: #353a3f;
  font-family: 'Poppins';
  letter-spacing: 0.05em;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase; }

.search-icon {
  text-align: center;
  padding-top: 30px; }
  @media (max-width: 799px) {
    .search-icon {
      padding: 0; } }

.search-icon svg {
  fill: white;
  height: 28px;
  width: 28px; }
  @media (max-width: 799px) {
    .search-icon svg {
      display: block;
      height: 25px;
      width: 25px; } }
