html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  height: 100%; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.wrapper {
  display: grid;
  grid-template-areas: "aside main__content";
  grid-template-columns: 150px 1fr;
  grid-template-rows: 1fr;
  justify-content: space-between;
  margin: auto;
  max-width: 1600px;
  min-height: 100vh;
  min-width: 450px; }
  @media (max-width: 799px) {
    .wrapper {
      grid-template-areas: "aside" "main__content";
      grid-template-columns: 100%;
      grid-template-rows: 70px 1fr; } }

body {
  font-family: 'Poppins', 'Arial', sans-serif;
  margin: 0; }

.aside {
  background-color: #282d32;
  flex: 0 0 150px;
  grid-area: aside;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 150px; }
  @media (max-width: 799px) {
    .aside {
      align-items: center;
      display: flex;
      flex-basis: auto;
      height: 70px;
      justify-content: space-between;
      padding: 10px 20px;
      position: relative;
      width: auto; } }
  .aside .logo {
    color: #4cb480;
    font-family: "Poppins";
    font-size: 32px;
    margin-bottom: 68px;
    padding-top: 45px;
    position: relative; }
    @media (max-width: 799px) {
      .aside .logo {
        margin-bottom: 0;
        padding-top: 0; } }
    .aside .logo::after {
      background: #4cb480;
      bottom: -14px;
      content: "";
      display: block;
      height: 4px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 25px; }

.nav {
  font-size: 17px;
  overflow: hidden;
  padding: 44px 0 39px 0;
  position: relative;
  text-align: center; }
  @media (max-width: 799px) {
    .nav {
      order: 1;
      padding: 0;
      position: static; } }
  .nav::before, .nav::after {
    background-color: white;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    opacity: 0.2;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 90px; }
    @media (max-width: 799px) {
      .nav::before, .nav::after {
        display: none; } }
  .nav::after {
    bottom: 18px;
    top: auto; }
  .nav--footer {
    margin: -0.85em 0 -0.7em 0; }
    .nav--footer::before, .nav--footer::after {
      display: none; }
  .nav--footer .nav__list {
    display: flex;
    flex-wrap: wrap;
    font-size: 17px;
    justify-content: space-between;
    max-height: 100px;
    padding-top: 0;
    position: relative;
    width: 80%; }
    @media (max-width: 799px) {
      .nav--footer .nav__list {
        margin: -1.85em 0 -0.7em 0; } }
    .nav--footer .nav__list li {
      padding: 0; }
      @media (max-width: 1400px) {
        .nav--footer .nav__list li {
          font-size: 0.7em;
          padding: 0.2em; } }
  @media (max-width: 799px) {
    .nav__list {
      bottom: 0;
      display: block;
      font-size: 0;
      left: 0;
      max-height: 0;
      overflow: hidden;
      padding-top: 20px;
      position: absolute;
      transform: translateY(100%);
      transition: 0.5s all;
      width: 100%; } }
  .nav__list li {
    padding-bottom: 26px; }
  .nav__list a {
    color: #ffffff;
    font-family: 'Poppins';
    letter-spacing: 0.8px;
    line-height: 25px;
    text-decoration: none;
    text-transform: uppercase; }

#toggle {
  display: none;
  position: relative; }

.toggle-nav {
  display: none; }
  @media (max-width: 799px) {
    .toggle-nav {
      cursor: pointer;
      display: block;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 85px;
      z-index: 1; } }

.burger-line {
  display: none; }
  @media (max-width: 799px) {
    .burger-line {
      background-color: white;
      display: block;
      height: 2px;
      position: absolute;
      right: 20px;
      top: 25px;
      width: 40px; } }

.second-line, .third-line {
  top: 37.5px; }

.fourth-line {
  top: 50px; }

#toggle:checked ~ .nav__list {
  background-color: #282d32;
  font-size: 100%;
  max-height: 400px;
  z-index: 1; }

#toggle:checked ~ .first-line {
  display: none; }

#toggle:checked ~ .second-line {
  transform: rotate(-45deg);
  transition: 0.5s all; }

#toggle:checked ~ .third-line {
  transform: rotate(45deg);
  transition: 0.5s all; }

#toggle:checked ~ .fourth-line {
  display: none; }

.main__content {
  flex-direction: column;
  grid-area: main__content; }
  .main__content > .content__item-darck {
    padding: 4.4em 4.2em 2.8em 4.2em; }
    @media (max-width: 799px) {
      .main__content > .content__item-darck {
        padding: 7vh; } }
  .main__content > .content__item, .main__content .footer {
    padding: 4.6em 3.9em 2.8em 3.9em; }
  @media (max-width: 799px) {
    .main__content > .content__item {
      padding: 7vh; } }
  .main__content .content__item-darck, .main__content .footer {
    background-color: #353a3f; }

.content__item-firstPage {
  padding: 9.8em 14em 9.6em 16.1em; }
  @media (max-width: 1399px) {
    .content__item-firstPage {
      padding: 5vh 14vh; } }
  @media (max-width: 999px) {
    .content__item-firstPage {
      padding: 5vh 5vh; } }
  .content__item-firstPage .subtitle {
    padding: 46px 0 18px 0; }

.title {
  position: relative; }

.title:before {
  background: #4cb480;
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  top: -27px;
  width: 62px; }

.h1__text {
  color: #ffffff;
  font-family: "Poppins";
  font-size: 18.5px;
  line-height: 36px;
  opacity: 0.5;
  padding-bottom: 47px;
  text-align: left; }

.content__item {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 999px) {
    .content__item {
      flex-direction: column; } }
  .content__item-secondPage {
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 6.2em 3.2em 3.5em 3.2em;
    position: relative; }
    @media (max-width: 1399px) {
      .content__item-secondPage {
        padding: 10vh 5vh 5vh 5vh; } }
    @media (max-width: 799px) {
      .content__item-secondPage {
        padding: 10vh 0vh 5vh 0vh; } }
    .content__item-secondPage:not(:first-child), .content__item-secondPage:not(:last-child) {
      margin: 3em 1.5em 5em 2em; }
      @media (max-width: 1399px) {
        .content__item-secondPage:not(:first-child), .content__item-secondPage:not(:last-child) {
          margin: 3em 1em 2em 1em; } }
    @media (min-width: 1399px) {
      .content__item-secondPage:last-child {
        margin-right: 3.4em; }
      .content__item-secondPage:first-child {
        margin-left: 3.4em; } }
    .content__item-secondPage--img {
      background-color: #ffffff;
      border-radius: 50%;
      display: block;
      height: 110px;
      position: absolute;
      transform: translateY(-140%);
      width: 110px; }
      .content__item-secondPage--img > svg {
        fill: #4cb480;
        height: 40px;
        left: 50%;
        margin-right: -50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 40px; }
    .content__item-secondPage--text {
      color: #5a5f65;
      font-family: 'Poppins';
      font-size: 18px;
      line-height: 30px;
      padding: 0.9em 0.05em 1.7em 0.04em;
      text-align: center; }
      @media (max-width: 799px) {
        .content__item-secondPage--text {
          padding: 1em 2em 1em 2em; } }

.content__item-secondPage {
  min-width: 205px; }

.content__item-thirdPage {
  background-image: url(/img/2-layers.png);
  background-origin: border-box;
  background-position: 49% 65%;
  background-repeat: no-repeat;
  padding: 4.4em 17em 4em 16em;
  position: relative; }
  @media (max-width: 1399px) {
    .content__item-thirdPage {
      padding: 10vh 13vh; } }
  @media (max-width: 999px) {
    .content__item-thirdPage {
      padding: 5vh 5vh; } }
  @media (max-width: 699px) {
    .content__item-thirdPage {
      background-image: none; } }
  .content__item-thirdPage img {
    margin-bottom: 1.2em; }
  .content__item-thirdPage--words {
    color: #ffffff;
    font-size: 28px;
    font-style: italic;
    letter-spacing: 0.25px;
    line-height: 38.02px; }
  .content__item-thirdPage--author {
    color: #8c9198;
    font-family: "Poppins", 'Arial', sans-serif;
    font-size: 20px;
    height: 42px;
    letter-spacing: 0.5px;
    padding: 3.9em 0 3em 0;
    position: relative;
    width: 234px; }
    .content__item-thirdPage--author::before {
      background: #8c9198;
      content: "";
      display: block;
      height: 5px;
      position: absolute;
      top: 54px;
      width: 60px; }

.content__item--title-blog {
  color: #353a3f;
  font-size: 44px;
  letter-spacing: 2.1px;
  line-height: 31.2px;
  margin-bottom: 1.8em;
  position: relative;
  text-transform: uppercase; }
  .content__item--title-blog::before {
    background: #4cb480;
    content: "";
    display: block;
    height: 4px;
    left: 3px;
    position: absolute;
    top: -37px;
    width: 62px; }
  @media (max-width: 999px) {
    .content__item--title-blog {
      line-height: 38px;
      margin: 0em 2em 0.5em 0; } }

.content__item--blog-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5.1em 2.6em 0.8em 3.6em; }
  @media (max-width: 999px) {
    .content__item--blog-wrap {
      padding: 2em 1em 1em 1em; } }

.content__item--blog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 2em 3.9em 0; }
  @media (max-width: 999px) {
    .content__item--blog {
      flex-direction: column; } }
  .content__item--blog-img {
    border-radius: 6px;
    height: 20.5em;
    width: 35.5em; }
    .content__item--blog-img:last-child {
      margin-bottom: 0; }
    @media (max-width: 1299px) {
      .content__item--blog-img {
        height: 15.5em;
        width: 26.8em; } }
    @media (max-width: 599px) {
      .content__item--blog-img {
        height: 10.5em;
        width: 18.18em; } }
  @media (max-width: 799px) {
    .content__item--blog {
      flex-direction: column; } }
  .content__item--blog-comment {
    margin: 1.8em 0 1.9em 4.7em; }
    .content__item--blog-comment .button_small {
      width: 176px; }
    @media (max-width: 1299px) {
      .content__item--blog-comment {
        margin: 0em 1em 0em 2em; } }
    @media (max-width: 999px) {
      .content__item--blog-comment {
        margin: 2em 2em 2em 0; } }
  .content__item--blog-text {
    color: #5a5f65;
    font-size: 18px;
    letter-spacing: 0.20px;
    line-height: 30px;
    padding: 0.8em 0em 1.7em 0; }

.footer-wrap {
  display: grid;
  grid-template-areas: "nav icons" "copywrite icons";
  margin: -2em 3em 1em 3.5em; }
  @media (max-width: 799px) {
    .footer-wrap {
      grid-template-areas: "nav icons" "copywrite";
      margin: -2em -2em -1em -2em; } }
  @media (max-width: 799px) {
    .footer-wrap {
      grid-template-areas: "nav" "copywrite icons";
      margin: -2em -2em -1em -2em; } }

.footer-copywrite {
  color: #ffffff;
  font-size: 12.4px;
  grid-area: copywrite;
  line-height: 34px;
  margin: -1.7em 0 0 0em;
  opacity: 0.3; }
  @media (max-width: 454px) {
    .footer-copywrite {
      line-height: 16px; } }

.footer-nav {
  grid-area: nav; }

.social-icon {
  align-self: self-end;
  grid-area: icons;
  justify-self: right;
  padding: 3.2em 0.7em 2em 0;
  writing-mode: vertical-lr; }
  .social-icon > ul > li {
    color: #ffffff;
    height: 30px;
    opacity: 0.3;
    padding: 0 2em 0 1.6em;
    width: 30px; }

.button_large {
  background: #4bae7c;
  border: 0;
  border-radius: 30px;
  color: #fff;
  font-size: 20px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  width: 200px; }

.button_small {
  background: #4bae7c;
  border: 0;
  border-radius: 28px;
  color: #fff;
  font-size: 19px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  text-transform: uppercase;
  width: 160px; }

h1 {
  color: #ffffff;
  font-family: 'Poppins';
  font-size: 61.5px;
  letter-spacing: 0.05em;
  line-height: 1.0;
  text-align: left;
  text-transform: uppercase; }

h2 {
  color: #ffffff;
  font-family: 'Poppins';
  font-size: 29.1px;
  letter-spacing: 0.05em;
  line-height: 31.2px;
  text-align: left;
  text-transform: uppercase; }

h3 {
  color: #353a3f;
  font-family: 'Poppins';
  font-size: 29.7px;
  letter-spacing: 0.05em;
  line-height: 40px;
  text-transform: uppercase; }

.search-icon {
  padding-top: 30px;
  text-align: center; }
  @media (max-width: 799px) {
    .search-icon {
      padding: 0; } }

.search-icon svg {
  cursor: pointer;
  fill: white;
  height: 28px;
  width: 28px; }
  @media (max-width: 799px) {
    .search-icon svg {
      display: block;
      height: 25px;
      width: 25px; } }
