.button_large {
    background: #4bae7c;
    border: 0;
    border-radius: 30px;
    color: #fff;
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    width: 200px;
    text-transform: uppercase;
    text-align: center;
}
.button_small {
    background: #4bae7c;
    border: 0;
    border-radius: 28px;
    color: #fff;
    font-size: 18px;
    height: 55px;
    line-height: 55px;
    width: 160px;
    text-transform: uppercase;
    text-align: center;
}