h1 {
    color: #ffffff;
    font-family: "Poppins - Semi Bold";
    font-size: 62px;
    line-height: 1.0;
    text-align: left;
    text-transform: uppercase;
    ;
}
h2 {
    color: #ffffff;
    font-family: Poppins;
    font-size: 30px;
    line-height: 31.2px;
    text-align: left;
    text-transform: uppercase;
}