h1 {
    color: #ffffff;
    font-family: 'Poppins';
    font-size: 61.5px;
    letter-spacing: 0.05em;
    line-height: 1.0;
    text-align: left;
    text-transform: uppercase;
}
h2 {
    color: #ffffff;
    font-family: 'Poppins';
    font-size: 29.1px;
    letter-spacing: 0.05em;
    line-height: 31.2px;
    text-align: left;
    text-transform: uppercase;
}
h3 {
    color: #353a3f;
    font-family: 'Poppins';
    font-size: 29.7px;
    letter-spacing: 0.05em;
    line-height: 40px;
    text-transform: uppercase;
}