.aside {
    background-color: #282d32;
    flex: 0 0 150px;
    grid-area: aside;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 150px;
    @media (max-width: 799px) {
        align-items: center;
        display: flex;
        flex-basis: auto;
        height: 70px;
        justify-content: space-between;
        padding: 10px 20px;
        position: relative;
        width: auto;
    }
    .logo {
        color: #4cb480;
        font-family: "Poppins";
        font-size: 32px;
        margin-bottom: 68px;
        padding-top: 45px;
        position: relative;
        @media(max-width: 799px) {
            margin-bottom: 0;
            padding-top: 0;
        }
        &::after {
            background: #4cb480;
            bottom: -14px;
            content: "";
            display: block;
            height: 4px;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            width: 25px;
        }
    }
}