.content__item-firstPage {
    padding: 9.8em 14em 9.6em 16.1em;
    @media (max-width: 1399px) {
        padding: 5vh 14vh;       
    }
    @media (max-width: 999px) {
        padding: 5vh 5vh;  
    }
    .subtitle{
        padding: 46px 0 18px 0;
    }
}
    .title {
        position: relative;
    }
    .title:before {
        background: #4cb480;
        content: "";
        display: block;
        height: 4px;
        position: absolute;
        top: -27px;
        width: 62px;
    }
.h1__text {
    color: #ffffff;
    font-family: "Poppins";
    font-size: 22.1px;
    line-height: 36px;
    opacity: 0.5;
    padding-bottom: 47px;
    text-align: left;
}