.footer-wrap {
    display: grid;
    grid-template-areas: 
    "nav icons"
    "copywrite icons";
    margin: -2em 3em 1em 3.5em;
    @media (max-width: 799px) {
        grid-template-areas: 
        "nav icons"
        "copywrite";
        margin: -2em 1em -1em 0em;
    }
}
.footer-copywrite {
    color: #ffffff;
    font-size: 16px;
    grid-area: copywrite;
    line-height: 30px;
    margin: -1.7em 0 0 0em;
    opacity: 0.3;
}
.footer-nav {
    grid-area: nav;
}
.social-icon {
    align-self: self-end;
    grid-area: icons; 
    justify-self: right;
    padding: 3.2em 0.7em 2em 0;
    writing-mode: vertical-lr;
    &>ul>li {
        color:#ffffff;
        height: 30px;
        padding: 0 2em 0 1.6em;
        opacity: 0.3;
        width: 30px;
    }
}