.main__content {
    grid-area: main__content;
    // display: flex;
    flex-direction: column;
    
    &>.content__item-darck,
    &>.content__item, .footer {
        padding: 4.4em 4.2em 2.8em 4.2em;
    }
    .content__item-darck {
        background-color: #353a3f;
    }
}
.footer {
    background: #353a3f;
}