.nav {
    padding-top: 50px;
    position: relative;
    font-size: 16px;
    text-align: center;
    padding: 41px 0;
      
    @media (max-width: 799px) {
      order: 3;
      padding-top: 0;
      position: static;
    }
  
    &::before,
    &::after {
      background-color: white;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      opacity: 0.2;
      position: absolute;
      top: 0;
      transform: translateX(-50%);
      width: 90px;
  
      @media (max-width: 799px) {
        display: none;
      }
      
    }
    
    &::after {
      bottom: 18px;
      top: auto;
    }
    &--footer {
      &::before,
      &::after {
      display: none;
      }
      // padding: 8px 12px 0 58px;
    }
    &__list {

      @at-root .nav--footer & {
        display: flex;
        justify-content: space-between;
        width: 45%;
        & li {
          padding: 0;
        }
      }

      & li {
        padding-bottom: 21px;
      }

      a{
        font-family: 'Poppins';
        text-decoration: none;
        text-transform: uppercase;
        color: #ffffff;
        line-height: 30px;
        letter-spacing: 0.8px;
      }
      // &--activ {
      //   a {
      //     text-decoration: underline;
      //     color: red;
      //   }
      // }
    }
    svg {
      display: block;
      fill: #fff;
    }
  }
  
  .toggle-icon {
    cursor: pointer;
    display: none;
    @media (max-width: 799px) {
      display: block;
    }
  }
  
  .toggle-button {
    display: none;
    height: 0;
    visibility: hidden;
    width: 0;
  }
