.content__item {
    display: flex;
    justify-content: space-between;
    // padding-top: 5%;
    &-secondPage {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        // margin: 3% 5% 5.5% 0;
        border-radius: 6px;
        background-color: #f6f6f6;
        padding: 6.2em 3.2em 3.5em 3.2em;
        &:not(:first-child), &:not(:last-child) {
            margin: 3em 1.5em 5em 2em;
        }
        &:last-child {
            margin-right: 3.4em;
        }
        &:first-child {
            margin-left: 3.4em;
        }
        &--img {
            display: block;
            width: 110px;
            height: 110px;
            background-color: #ffffff;
            border-radius: 50%;
            position: absolute;
            transform: translateY(-140%);
            &>svg {
                fill: #4cb480;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
                height: 40px;
                width: 40px;
            }
        }
        &--text {
            padding: 0.8em 0 1.7em 0;
            color: #5a5f65;
            font-family: Poppins;
            font-size: 18px;
            line-height: 30px;
            text-align: center;
        }
    }

}