.content__item-thirdPage {
    background-image: url(/img/2-layers.png);
    background-origin: border-box;
    background-position: 49% 65%;
    background-repeat: no-repeat;
    padding: 4.4em 17em 4em 16em;
    position: relative;
    @media (max-width: 1399px) {
        padding: 10vh 13vh;  
    }
    @media (max-width: 999px) {
        padding: 5vh 5vh;  
    }
    @media (max-width: 699px) {
        background-image: none;
    }
    img {
        margin-bottom: 1.2em;
    }
    &--words {
        color: #ffffff;
        font-size: 28px;
        font-style: italic;
        letter-spacing: 0.25px;
        line-height: 38.02px;
    }
    &--author {
        color: #8c9198;
        font-family: "Poppins", 'Arial', sans-serif;
        font-size: 20px;
        height: 42px;
        letter-spacing: 0.5px;
        padding: 3.9em 0 3em 0;
        position: relative;
        width: 234px;
        &::before {
            background:#8c9198;
            content: "";
            display: block;
            height: 5px;
            position: absolute;
            top: 54px;
            width: 60px;
        }
    }
}