* {
    box-sizing: border-box;
}
.wrapper {
    display: grid;
    grid-template-areas:
    "aside main__content";
    grid-template-columns: 150px 1fr;
    grid-template-rows: 1fr;
    justify-content: space-between;
    margin: auto;
    max-width: 1600px;
    min-height: 100vh;
    min-width: 450px;
    @media (max-width: 799px) {
        grid-template-areas: 
        "aside"
        "main__content";
        grid-template-columns: 100%;
        grid-template-rows: 70px 1fr;
    }
}
body {
    font-family: 'Poppins', 'Arial', sans-serif;
    margin: 0;
}